.popup-coment {
  width: 68%;
  height: 300vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
.write-coment {
  width: 70%;
  height: 60vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}

.coment {
  width: 60%;
  height: 100vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}

.b-box {
  width: 90%;
}

.form-control-coment {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 12.5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  resize: none;
}

.form-control-coment::placeholder {
  padding-top: 5px;
}
