.btn {
  width: 14%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
btn:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px black;
}
.buttons .btn-linx,
.buttons .btn-foto,
.buttons .btn-id,
.buttons .btn-local,
.pub-btn .btn-seemore {
  font-size: 10px;
  height: 10%;
  width: 15%;
  padding: 4px;
  color: #495057;
}
.buttons .btn-id {
  width: 20%;
}
.pub-btn .btn-seemore {
  border-radius: 32.5px;
}
.img-btn {
  width: 50px;
  height: 30px;
  border: 0;
  background-color: #efefef;
  cursor: pointer;
}
.img-btn:focus {
  outline: none !important;
  border-color: grey;
}

.popbtn .btn-publish {
  font-size: 10px;
}

.close-image {
  background-image: url("../images/Ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
