.login-page {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url("../images/fundo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36%;
  background-color: rgba(0, 59, 105, 0.6);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.login-page .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dont-have-account {
  color: white;
}

.login-form input,
.login-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
  height: 50px;
  width: 350px;
  min-width: 300px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.login-form .logo {
  height: 150px;
  width: 350px;
  min-width: 300px;
  background-image: url("../images/logo-01.png");
  background-size: 285px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.login-form button {
  padding: 0;
  background: #ffc95e;
  width: 250px;
  min-width: 200px;
  font-weight: 500;
  color: white;
  margin-bottom: 50px;
}

.login-form a {
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form .input-password {
  position: relative;
}

.login-form .input-password .forgot-pass {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 15px;
  background: #ccc;
  font-size: 20px;
  font-weight: 500;
}

.login-page .change-password .title {
  align-self: center;
  margin-bottom: 35px;
  font-size: 30px;
}

.login-page .change-password form button {
  margin: auto;
}
.wrongpass p {
  color: red;
}

/*FORGOT PASSWORD*/

.forgot-password .title {
  font-size: 30px;
  margin-bottom: 15px;
  align-self: flex-start;
  font-family: avenir-light;
}

.forgot-password .sub-title {
  margin-bottom: 5px;
}

.forgot-password .input-email {
  background: transparent;
  border: transparent;
  border-bottom: 1px solid #999;
  border-radius: 0;
  box-shadow: 0px 2px 0px 0px #eee;
  height: fit-content;
  margin: 40px 0;
  margin-bottom: 50px;
  text-align: center;
  padding: 0;
}

.login-page .forgot-password form button {
  margin: auto;
}

/* ConfirmAccount / ActivateAccount*/

.login-page .confirm-account,
.login-page .activate-account {
  color: #333;
  margin-top: -100px;
}

.login-page .confirm-account .welcome,
.login-page .activate-account .title {
  font-size: 30px;
  margin-bottom: 40px;
}

.login-page .confirm-account .message,
.login-page .activate-account .message {
  text-align: center;
}

/* general */

.login-page a.back-login {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
