.login-page,
.register-page {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("../images/fundo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0;
}

.login-page .container,
.register-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  min-height: calc(100vh - 40px);
  background-color: rgba(0, 59, 105, 0.6);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

/*register exception*/

.register-page .container {
  display: block;
}

.register-page .register-header .row {
  padding: 0 15px;
}

.register-page .register-header .row > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/*end*/

.login-page .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dont-have-account {
  color: white;
}

.login-form input,
.login-form button,
.register-page input,
.register-page button,
.register-page textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
  height: 50px;
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: white;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

/*register-page exception*/
.register-page input,
.register-page button {
  height: 40px;
  width: 100%;
}
.register-page textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100px;
  width: 100%;
}

.register-page .container-upload-img input {
  border-radius: 0;
}
/*end*/

.login-form .logo {
  height: 150px;
  width: 350px;
  min-width: 300px;
  background-image: url("../images/logo-01.png");
  background-size: 285px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}

.login-form button {
  padding: 0;
  background: #ffc95e;
  width: 250px;
  min-width: 200px;
  font-weight: 500;
  color: white;
  margin-top: 20px;
}

.login-form a {
  font-weight: 700;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-form .input-password {
  position: relative;
}

.login-form .input-password .forgot-pass {
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 15px;
  background: #ccc;
  font-size: 20px;
  font-weight: 500;
}

.login-page .change-password .title {
  align-self: center;
  margin-bottom: 35px;
  font-size: 30px;
}

.login-page .change-password form button {
  margin: auto;
}
.wrongpass p {
  color: red;
}

/*FORGOT PASSWORD*/

.forgot-password .title {
  color: #ffc95e;
  font-size: 30px;
  margin-bottom: 2px;
  align-self: flex-start;
  font-family: avenir-light;
}

.forgot-password .sub-title {
  margin-bottom: 5px;
  color: white;
}

.forgot-password .input-email {
  background: transparent;
  border: transparent;
  color: white;
  border-bottom: 1px solid #999;
  border-radius: 0;
  box-shadow: 0px 2px 0px 0px #eee;
  height: fit-content;
  margin: 40px 0;
  text-align: center;
  padding: 0;
}

.login-page .forgot-password form button {
  margin: auto;
}

/* ConfirmAccount / ActivateAccount*/

.login-page .confirm-account,
.login-page .activate-account {
  color: #333;
  margin-top: -100px;
}

.login-page .confirm-account .welcome,
.login-page .activate-account .title {
  font-size: 30px;
  margin-bottom: 40px;
}

.login-page .confirm-account .message,
.login-page .activate-account .message {
  text-align: center;
}

/*UserRegister*/
.register-page .container-logo {
  padding: 30px 15px;
}

.register-page .container-logo .logo {
  font-size: 40px;
  color: #fafafa;
}

.register-page .register-header,
.register-page .register-main {
  padding: 30px 15px;
  padding-top: 15px;
  padding-bottom: 0;
}
.register-page .register-main {
  padding-top: 0;
}

.register-page .register-header .container-upload-img .user-photo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fafafa;
}

/*End*/

/* general */

.login-page a.back-login {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/*media queries*/

@media (min-width: 768px) and (max-width: 991px) {
  .login-page .container,
  .register-page .container {
    width: 85%;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .login-page .container,
  .register-page .container {
    width: 100%;
  }
}
