.resources-main {
  padding-top: 40px;
}

.resources-main .title {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
}

.resources-main .title a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background: orange;
  color: #fafafa;
  border-radius: 50%;
  margin-left: 40px;
}

/* Section-card*/

.resources-main .section-card {
  padding: 30px;
  margin-bottom: 40px;
}

.resources-main .section-card:first-child {
  margin-top: 0;
}

.resources-main .section-card .title {
  font-size: 20px;
  margin-bottom: 10px;
}

.resources-main .title > a {
  color: #fafafa !important;
}

.resources-main .section-card .delete {
  margin-top: -15px;
  font-size: 15px;
  float: right;
}

.resources-main .interests {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-self: flex-end;
  justify-content: flex-end;
}

.resources-main .interests .add {
  border: 1px solid #999;
  color: #000;
  font-weight: bold;
}

.resources-main .multi-choice-area {
  margin-right: 0;
}

/*end*/

/* Popup */

.resources-popup-container {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 47, 84, 0.74);
  z-index: 2;
  padding-top: 20vh;
}

.resources-popup-container .section-card:first-child {
  margin: 0;
}

.container.resources-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 40px;
}

.resources-popup input {
  margin-bottom: 20px;
}
.resources-popup button {
  align-self: flex-end;
  margin-bottom: 0;
  margin-top: 20px;
}

.resources-popup .close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #002f54;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: right;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* checkbox */

.resources-main .interests-checkbox {
  padding: 20px;
  border-radius: 5px;
  background: #002f54;
  color: #fafafa;
  margin-bottom: 40px;
}

.interests-checkbox .checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.interests-checkbox .checkbox:first-child {
  margin-top: 0;
}

.interests-checkbox .checkbox input {
  margin-right: 10px;
}

/*style checkbox*/

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  height: 20px;
  width: 20px;
}

.regular-checkbox:active,
.regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
    inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}

.regular-checkbox:checked:after {
  content: "\2714";
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #002f54;
}
