/*UserProfileHeader*/

.user-profile .user-header {
  margin: 40px 0;
}

.user-profile .user-header .user-photo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border: 1px solid #002f54;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.user-header {
  display: flex;
}
.user-header .user-photo {
  margin-right: 60px;
}

.user-header .user-info {
  background: #fcfcfc;
}

.user-info .user-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  color: #999;
  margin-right: 10px;
  width: 130px;
}

.edit-profile:hover {
  cursor: pointer;
  color: #ccc;
}

.user-profile .section-card {
  margin-top: 0;
  padding-bottom: 15px;
  width: calc(100% - 130px - 60px);
}

.user-aux-info li {
  border-bottom: 1px solid #ccc;
  height: 30px;
  display: flex;
  align-items: flex-end;
}

/*UserProfileMenu*/

.profile-menu .menu-row {
  padding-top: 15px;
  border-top: 1px solid #ccc;
}

.profile-menu .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.profile-menu .menu-item:hover {
  cursor: pointer;
  background: #ffc95e;
}

.menu-item > .fa {
  color: #002f54;
}

/*UserProfileMenuSection*/

.user-profile-menu-section {
  /* height: 30em;
    overflow-y: scroll; */
  padding: 15px 0;
}

/*CARD*/
.section-card {
  background: #fcfcfc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.section-card:first-child {
  margin-top: 40px;
}

.section-title:first-child {
  margin-top: 25px;
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #002f54;
}

.publication .section-title {
  max-width: 700px;
}

.section-title span {
  color: #999;
  font-weight: 500;
}

.section-card .sub-text {
  font-size: 15px;
}

.section-title .plus-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffc95e;
}

.section-title .plus-sign:hover {
  border: 1px solid #ffc95e;
  background: #fafafa;
}

/*Sub-Section ProfileAbout*/

/* -- identification */

.section-card.identification {
  padding: 0px 15px;
}

.section-card.identification > ul {
  margin: 0;
}

.section-card.identification ul > li {
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.section-card.identification ul > li:last-child {
  border-bottom: transparent;
}

/*-- interest area */
.section-card.interest-area {
  padding: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  background: transparent;
  border: transparent;
  box-shadow: none;
}

.multi-choice-area {
  background: #002f54;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 7.5px;
  color: #fafafa;
}

.multi-choice-area .fa {
  margin-left: 10px;
  font-size: 15px;
}

/*-- languages */

.language {
  border-bottom: 1px solid #ccc;
}

/*Sub-Section ProfileNetwork*/

.section-card.network-advisor:first-child {
  margin-top: 0px;
}

.section-user-network {
  max-width: 500px;
  padding-bottom: 30px;
}

.network-user-container {
  padding-top: 30px;
}

.network-user-info {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.network-user-info .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 0 20px;
}

.network-user-info .institution {
  width: calc(100% - 80px - 20px);
  min-height: 65px;
  display: flex;
  align-items: center;
}

.network-sub-section {
  display: flex;
  align-items: center;
  background-color: rgb(200, 200, 200);
  padding: 15px 25px;
  transition: 0.25s;
}

.user-profile-menu-section .network-sub-section:nth-child(1) {
  background-color: rgba(0, 47, 84, 0.6);
}

.user-profile-menu-section .network-sub-section:nth-child(3) {
  background-color: rgba(0, 47, 84, 0.85);
}

.user-profile-menu-section .network-sub-section:nth-child(7) {
  background-color: rgba(0, 47, 84, 0.6);
}

.network-sub-section .value {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  color: #fafafa;
}
.network-sub-section .title {
  color: #fafafa;
}
.network-user-container {
  transition: 0.25s;
  background: #f1f1f1;
}

.user-profile-menu-section .network-sub-section:nth-child(1):hover,
.user-profile-menu-section .network-sub-section:nth-child(3):hover,
.user-profile-menu-section .network-sub-section:nth-child(5):hover,
.user-profile-menu-section .network-sub-section:nth-child(7):hover {
  background: rgb(122, 144, 151);
}

/*-- follower */

.follower {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.follower > * {
  margin-right: 15px;
}
.follower > *:last-child {
  margin: 0;
}

.follower .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #333;
}

.follower .orcid {
  color: #999;
}

/*Sub-Section Publication*/

.section-card.project {
  border: none;
}

.project .project-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: #999;
}
.project .project-header > div:first-child {
  color: #002f54;
  font-weight: 600;
}

/*Sub-Section Publication*/
.publication {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 700px;
  margin-top: 20px;
}

.publication .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 10px;
  background-color: #333;
}

.publication .info .publication-title {
  display: flex;
  margin-bottom: 10px;
}

.publication-title {
  font-weight: 600;
  margin-right: 20px;
}

.publication-title b {
  margin-right: 10px;
}

.publication-author {
  font-size: 15px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  color: #999;
}

/*ProfileMenuSubSections*/

.show {
  display: block;
}

.hidden {
  display: none !important;
}

/*connect-buttons-section*/

.connect-buttons-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.connect-buttons-section .connect-profile-btn {
  width: 320px;
  max-width: none;
  position: relative;
  margin-bottom: 25px;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.connect-buttons-section .connect-profile-btn .logo {
  width: 30px;
  height: 30px;
  background: #002f54;
  border-radius: 50%;
  position: absolute;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.connect-profile-btn .logo .fa {
  font-size: 17px;
  color: #ffc95e;
}

/*popup*/
.container.resources-popup .title {
  color: #002f54;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.container.resources-popup .title .logo {
  height: 40px;
  width: 40px;
  background: #002f54;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.container.resources-popup .title .fa {
  color: #fff;
  font-size: 23px;
}

/*MARGINS & PADDINGS*/
.pd10 {
  padding: 5px;
}

.mt40 {
  margin-top: 40px;
}

/* General media queries */

@media (min-width: 0px) and (max-width: 767px) {
  .user-profile .user-header {
    flex-direction: column;
    align-items: center;
  }
  .user-header .user-photo {
    margin: 0;
    margin-bottom: 20px;
  }

  .user-profile .section-card {
    width: 100%;
  }

  .connect-buttons-section .connect-profile-btn {
    width: 265px;
  }
}
