[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-webpack-loader = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
pillow = "*"
praw = "*"
tweepy = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"«
"beautifulsoup4" = "*"
simplejson = "*"
orcid = "*"
lxml = "==4.2.5"

[dev-packages]

[requires]
python_version = "3.5"
