.allpage-signup {
  background-image: url("../../images/fundo.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.allpage-signup .container {
  padding: 20px;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content-signup {
  position: relative;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  background: rgba(0, 59, 105, 0.6);
  width: 60%;
  min-width: 535px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  min-height: 800px;
  padding: 50px;
  padding-top: 245px;
}

.main-content-signup .register-title {
  position: absolute;
  top: 30px;
  left: 30px;
  width: auto;
}

.main-content-signup > .row:last-child > div {
  display: flex;
  justify-content: center;
}

.main-content-signup > .row:last-child > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 42px;
  width: 250px;
  min-width: 200px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 25px;
  transition: 0.15s;
}

.main-content-signup > .row:last-child > div > button:hover {
  background: #222;
  color: #fafafa;
}

.main-content-signup input {
  margin-bottom: 35px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.title {
  margin-left: 3rem;
}
@media screen and (max-width: 992px) {
  .main-content-signup {
    width: 70%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 780px) {
  /* .main-content-signup {
    width: 100%;
  }
  .allpage-signup .container {
    padding: 20px;
  }
  .title h1 {
    font-size: 30px;
    text-align: center;
  }
  .title {
    margin-left: auto;
    margin-right: auto;
  } */
}

@media screen and (max-width: 567px) {
  .allpage-signup .container {
    padding: 0 0;
  }

  .main-content-signup {
    min-width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 7px;
    padding-top: 200px;
  }

  .main-content-signup .register-title {
    top: 30px;
    left: 10vw;
  }

  .title {
    margin-left: 0;
  }
}

.background-image-profile-signup {
  background-image: url("../../images/Profilewhite-01.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
}
.title {
  text-align: left;
}
.name p,
.orcid p {
  width: 50%;
}

.username p,
.orcid p,
.email p,
.password p,
.institution p,
.bio p,
.hash p {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.bio p {
  height: 150px;
}
.username .form-control-coment,
.orcid .form-control-coment,
.first_name .form-control-coment,
.last_name .form-control-coment,
.email .form-control-coment,
.password .form-control-coment,
.institution .form-control-coment,
.bio .form-control-coment,
.hash .form-control-coment {
  height: 44px;
}
.email .form-control-coment,
.password .form-control-coment,
.institution .form-control-coment,
.bio .form-control-coment,
.first_name .form-control-coment,
.last_name .form-control-coment,
.hash .form-control-coment {
  width: 100%;
}
.username .form-control-coment,
.orcid .form-control-coment {
  width: 100%;
}
.bio .form-control-coment {
  height: 90px;
}

.input-jumbotron textarea {
  outline: none;
}
.input-jumbotron label,
input {
  color: #333;
  font: 14px/20px Arial;
}
.input-jumbotron label {
  display: inline-block;
  text-align: right;
}

/* Hide the file input using
opacity */
.input-jumbotron [type="file"] {
  position: absolute;
  filter: alpha(opacity=0);
  opacity: 0;
}
.input-jumbotron input,
[type="file"] + label {
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: left;
  padding: 5px;
  width: 144px;
  margin: 0;
  left: 0;
  position: relative;
}
.input-jumbotron [type="file"] + label {
  text-align: center;
  border-radius: 12.5px;
  top: 0.5em;
  /* Decorative */
  background: #ffc95e;
  color: #fff;
  border: none;
  cursor: pointer;
}
.input-jumbotron [type="file"] + label:hover {
  background: #6c757d;
}
.btn-create-account {
  background: #ffc95e;
}
