.btn {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
btn:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px black;
}
.buttons .btn-linx,
.buttons .btn-id,
.buttons .btn-local,
.pub-btn .btn-seemore {
  font-size: 10px;
  height: 10%;
  width: 15%;
  padding: 4px;
  color: #495057;
}
.buttons .btn-publish{
  font-size: 10px;
  height: 10%;
  width: 15%;
  padding: 4px;
  background: #FFC95E;
  color: #fff;
}
.buttons .btn-foto{
    width: 17%;
    font-size: 10px;
    height: 10%;
    padding: 4px;
    color: #495057;
}
.buttons .btn-id {
  width: 20%;
}
.pub-btn .btn-seemore {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFC95E;
  border-color: #FFC95E;
}
.img-btn {
  width: 50px;
  height: 30px;
  border: 0;
  background-color: #efefef;
  cursor: pointer;
}
.img-btn:focus {
  outline: none !important;
  border-color: grey;
}

.popbtn .btn-publish {
  font-size: 10px;
}

.close-image {
  background-image: url("../../images/Ellipse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
}
.addurl .save-btn{
  font-size: 10px;
  height: 10%;
  width: 15%;
  padding: 4px;
  background: #FFC95E;
  color: #fff;
}
