.popup {
  display: none;
  width: 60%;
  height: 54vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}

.popup-visible {
  display: block;
  width: 60%;
  height: 54vh;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}

.popup-content {
  width: 70%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
