.pub1 {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  height: 100%;
}
.pub2 {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
}
.circle {
  border-radius: 100em;
}
.container-pub {
  max-width: 820px;
  margin: 0px auto;
  width: 70%;
}
