.content p {
  width: 90%;
  align-items: center;
}
.content {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  width: 90%;
}

.hashtags {
  width: 80%;
}
.hashtags p {
  font-size: 12px;
  vertical-align: middle;
}

.first {
  height: 20px;
  width: 20%;
  border-radius: 5.5px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  vertical-align: middle;
}

.second {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  height: 20px;
  width: 10%;
  border-radius: 32.5px;
}
