.bg-grey {
  background-color: #efefef;
}
.bg-grey2 {
  background-color: #ced4da;
}
.bg-blue{
  background-color: #002F54;
}
.opacity {
  opacity: 0.5;
}
.boder-radius-xs {
  border-radius: 5.5px;
}
.boder-radius-sm {
  border-radius: 12.5px;
}
.boder-radius-md {
  border-radius: 62.5px;
}
.boder-radius-lg {
  border-radius: 82.5px;
}
